* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}

.main {
  min-height: 100vh;
  background-color: #FFF;
}



.file-input-wrapperleft {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 150px; 
  height: 40px; 
  background-color: #f0f0f0; 
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 35px; 
  font-size: 16px;
  color: #333; 
  left: -10px;
}

.file-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-input-wrapperleft:hover {
  background-color: #e0e0e0; 
}

.file-input-wrapperleft:active {
  background-color: #d0d0d0; 
}



.file-input-wrapperright {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 150px; 
  height: 40px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px; 
  cursor: pointer;
  text-align: center;
  line-height: 35px; 
  font-size: 16px;
  color: #333;
}

.file-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-input-wrapperright:hover {
  background-color: #e0e0e0;
}

.file-input-wrapperright:active {
  background-color: #d0d0d0;
}



/* Login Start */


.formLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formLogin button {
  align-self: flex-end;
}


.flex-columnLogin > label {
  color: #151717;
  font-weight: 600;
}

.inputFormLogin {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}


.inputLogin {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
  border: none; 
    outline: none;
}


.inputFormLogin:focus-within {
  border: 1.5px solid #2d79f3;
}


.flex-rowLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}


.flex-rowLogin > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}


.button-submitLogin {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}


.button-submitLogin:hover {
  background-color: #252727;
}


.pLogin {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

/* Login End */


/* Download Start */
.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  z-index: 1;
 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #e0a70c;
  border: solid 1px #e8e8e82d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #01e056;
  border: solid 1px #01e0572d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
 }
 
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }


/* Download End */
