* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}

.main {
  min-height: 100vh;
  background-color: #FFF;
}



.file-input-wrapperleft {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 150px; 
  height: 40px; 
  background-color: #f0f0f0; 
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 35px; 
  font-size: 16px;
  color: #333; 
  left: -10px;
}

.file-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-input-wrapperleft:hover {
  background-color: #e0e0e0; 
}

.file-input-wrapperleft:active {
  background-color: #d0d0d0; 
}



.file-input-wrapperright {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 150px; 
  height: 40px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px; 
  cursor: pointer;
  text-align: center;
  line-height: 35px; 
  font-size: 16px;
  color: #333;
}

.file-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-input-wrapperright:hover {
  background-color: #e0e0e0;
}

.file-input-wrapperright:active {
  background-color: #d0d0d0;
}


